body {
    font: 14px "Century Gothic", Futura, sans-serif;
}

td {
    /*font-size: xx-large;*/
}

#app{
    margin-left: 1%;
    margin-right: 1%;
}

/*.game {*/
/*    display: grid;*/
/*    grid-template-rows: auto 10%;*/
/*    grid-template-columns: auto auto auto;*/

/*    grid-row: 2;*/
/*}*/

/*.card-board {*/
/*    grid-row: 1;*/
/*}*/

/*.movie-details {*/
/*    float: bottom;*/
/*}*/

/*.card-deck {*/
/*    display: grid;*/
/*    grid-template-rows: auto;*/
/*    grid-template-columns: auto auto;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*}*/

.card-deck {
    /*height: 60%;*/
}

.card {
    /*max-height: 70vh;*/
    /*width: auto;*/
    /*max-width: 40vw;*/
    /*margin: auto;*/
}

.cardImg {
    /*max-width:30vw;*/
    /*max-height:45vh;*/
    /*width: auto;*/
    /*height: auto;*/
}

.button-board {
    /*display: grid;*/
    /*grid-template-columns: auto auto auto;*/
    /*grid-row: 2;*/
    /*grid-gap: 0px;*/
    /*position:absolute;*/
    /*bottom:0;*/
}

.poster-icon {
    height: 90px;
    width: 60px;
}

/*@media screen and (max-width: 481px){*/
/*    .button-board {*/
/*        grid-gap: 0;*/
/*    }*/
/*}*/
