body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

ol, ul {
    padding-left: 30px;
}

.card {
    display: grid;
    width: 50%;
    margin: 0 auto;
}

.poster {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 300px;
    margin-right: 10px;
    margin-top: 1px;
    padding: 0;
    text-align: center;
    width: 200px;
}

.movie-details {
    float: bottom;
}

.card-board {
    display: grid;
    background: burlywood;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.button-board {
    display: grid;
    background: burlywood;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.game {

}
